:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  border-bottom: 0px solid rgba(255, 255, 255, 0.12);
}

.navbar .navbar-img {
  width: 4rem;
  height: 4xrem;
  border-radius: 50%;
  margin-right: 0.5rem;
  animation: increase-size 0.5s linear;
}

.navbar .navbar-img:hover {
  transform: scale(1.2) rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.navbar .navbar-toggle {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

@media only screen and (max-width: 1024px) {
  .navbar .navbar-toggle {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .navbar a {
    visibility: hidden;
  }
}

 .show-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #242424;
  transition: 1s;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  .navbar-toggle{
    visibility: hidden;
  }
  .navbar-toggle-cancel-btn {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}

.navbar-toggle-cancel-btn {
  visibility: hidden;
}

.show-nav a {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}



a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #730d0d;
  text-decoration: none;
}

.hero {
  width: 95%;
  margin: 4% auto;
  background-image: url("assets/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #242424;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.squash {
  width: 50%;
}
.mission-card {
  width: 95%;
  margin: 5% auto;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  }

  .mission-card-img {
    border-radius: 50%;
    width: 30%;
  }

  .mission-card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
  }

  .mission-card:hover .mission-title {
    color: #730d0d;
    text-shadow: 5px 5px 5px #000000;
    transition: text-shadow 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
  }

  .mission-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .mission-para {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    text-shadow: 2px 2px 2px #000000;
  }

  .facts-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

.card {
  width: 95%;
  margin: 5% auto;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.card-img {
  border-radius: 50%;
  width: 40%;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  text-shadow: 2px 2px 2px black;
  background-size: cover;
  color: #730d0d;
}

.card:hover .card-title {
  color: #730d0d;
  text-shadow: 5px 5px 5px #000000;
  transition: text-shadow 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.card-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.card-para {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  text-shadow: 2px 2px 2px #000000;
}

.donate{
  width: 95%;
  margin: 5% auto;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.donate-img {
  border-radius: 15%;
  width: 40%;
}

.cta {
  width: 95%;
  margin: 10% auto;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.cta-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

.contact-submit{
  width: 95%;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: #730d0d;
  color: rgba(255, 255, 255, 0.87);
  font-weight: bold;
}

.contact-submit:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

footer {
  width: 95%;
  margin: 5% auto;
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}